html{
  height: 100%;
}

body{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(72,49,212);
}

h1{
  font-size: 4.4em;
  color: lightgreen;
  font-family: 'Varela Round', sans-serif;
  text-align: left;
}

p{
  color: white;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.6em
}

#tel{
  margin-top: 50px;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  color: lightgreen;
  border-color: lightgreen;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.6em
}

#tel:hover{
  background-color: lightgreen;
  padding: 5px;
  font-family: 'Varela Round', sans-serif;
  border-style: solid;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(72,49,212);
}

img{
  height: 515px;
  width: 350px;
}

i{
  font-size: 55px;
  position: absolute;
  top: 35px;
  right: 35px;
  color: lightgreen;
}

/* Sidenav menu */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: #e8e8e8;
  padding-top: 60px;
  transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-top: 32px;
  margin-bottom: 32px;
}

.sidenav a:hover {
  color: #111;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  left: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: lightgreen;
  margin: 6px 0;
}

.burger-icon{
  position: absolute;
  top: 35px;
  left: 35px;
}

li{
  font-family: 'Varela Round', sans-serif;
}

#txt{
  width: 50%;
}

.divOfStory{
  width: 900px;
  padding: 20px;
  border-top-color: lightgreen;
  border-top-style: solid;
}

.story{
  margin-top: 50px;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  color: lightgreen;
  font-size: 1.6em;
  text-align: left;
}

h2{
  margin-top: 25px;
  font-family: 'Varela Round', sans-serif;
  color: lightgreen;
}

#phone{
  text-decoration: none;
  color: white;
  font-family: 'Varela Round', sans-serif;
}

@media screen and (max-width: 1440px) {

  h1{
    font-size: 7.4em;
  }

  p{
    font-size: 50px;
  }

  .sidenav a {
    font-size: 75px;
  }

  .sidenav{
    width: 520px;
    left: -600px;
  }

  .sidenav .close{
    font-size: 70px;
  }

  .burger-icon span{
    width: 101px;
    height: 15px;
    margin: 20px 0;
  }

  #txt{
    margin-top: 1400px;
  }

  .divOfStory > a{
    font-size: 50px;
  } 

  a + p{
    font-size: 40px;
  }

  img{
    height: 1250px;
    width: 830px;
  }
  
}
