body{
    background-color: rgb(72,49,212);
}

#main{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.miniature{
    background-color: white;
    margin: 10px;
    height: 305px;
    width: 330px;
}

.miniature:hover{
    filter:drop-shadow(5px 5px 5px grey);
    position: relative;
    bottom: 10px;
}

img{
    height: 180px;
    width: 330px;
}

p{
    /*position: relative;
    top: 10px;*/
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    margin: 0;
}

p + p{
    font-weight: normal;
    margin: 0;
}

#test{
    text-decoration: none;
    height: 100%;
    width: 100%;
}

#test:visited{
    color: rgb(72,49,212);
}

#textDiv{
    position: relative;
/*    bottom: 24px;*/
    height: 125px;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i{
  font-size: 55px;
  position: absolute;
  top: 35px;
  right: 35px;
  color: lightgreen;
}

/* Sidenav menu */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: #e8e8e8;
  padding-top: 60px;
  transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-top: 32px;
  margin-bottom: 32px;
}

.sidenav a:hover {
  color: #111;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  left: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: lightgreen;
  margin: 6px 0;
}

.burger-icon{
  position: relative;
  top: 35px;
  left: 35px;
}

li{
  font-family: 'Varela Round', sans-serif;
}