body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(72,49,212);
}

h1{
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  color: lightgreen;
}

h3{
  color: lightgreen;
  text-decoration: underline;
}

#main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Varela Round', sans-serif;
  color: white;
  font-size: 30px;
  position: relative;
  top: 100px;
  width: 80%;
}

body{
    margin: 0;
}

main{
    width: 80%;
    margin: auto;
    position: relative;
    top: 100px;
}

.diapo{
    position: relative;
    overflow: hidden;
}

#nav-droite, #nav-gauche{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: blue;
    font-size: 3em;
}

#nav-droite{
    right: 0px;
    cursor: pointer;
}
#nav-gauche{
    left: 0px;
    cursor: pointer;
}

.elements{
    display: flex;
    transition: 1s linear;
}

.element{
    flex: 1 0 100%;
    position: relative;
}

.element > img{
    width: 100%;
}

.caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255,255,255,0.4);
    padding: 30px;
}

video{
    width: 100%;
    position: relative;
    bottom: 75px;
}

i{
  font-size: 55px;
  position: absolute;
  top: 35px;
  right: 35px;
  color: lightgreen;
}

/* Sidenav menu */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: #e8e8e8;
  padding-top: 60px;
  transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-top: 32px;
  margin-bottom: 32px;
}

.sidenav a:hover {
  color: #111;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  left: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: lightgreen;
  margin: 6px 0;
}

.burger-icon{
  position: relative;
  top: 35px;
  left: 35px;
}

li{
  font-family: 'Varela Round', sans-serif;
}

#openBtn{
  position: absolute;
  left: 0px;
  top: 0px;
}

@media screen and (max-width: 1440px) {
  .sidenav a {
    font-size: 75px;
  }

  .sidenav{
    width: 520px;
    left: -600px;
  }

  .sidenav .close{
    font-size: 70px;
  }

  .burger-icon span{
    width: 101px;
    height: 15px;
    margin: 20px 0;
  }
}